<div class="row">
  <div class="small-12 columns">
    <h3 class="text-center">All Quotes</h3>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <ul>
      <% @quotes.each do |quote| %>
        <li>
          <%= quote.text %>
        </li>
      <% end %>
    </ul>
    <div class="pagination-centered">
      <%= will_paginate @quotes, renderer: FoundationPagination::Sinatra %>
    </div>
</div>

<div class="row">
  <div class="small-12 columns text-center">
    <a class="button" href="/">Back to Home</a>
  </div>
</div>