@font-face {
  font-family: "Friz Quadrata";
  src: url('../fonts/friz-quadrata-webfont.eot?1457815006');
  src: url('../fonts/friz-quadrata-webfont.eot?&1457815006#iefix') format('embedded-opentype'), url('../fonts/friz-quadrata-webfont.woff?1457815006') format('woff'), url('../fonts/friz-quadrata-webfont.woff2?1457815006') format('woff2'), url('../fonts/friz-quadrata-webfont.ttf?1457815006') format('truetype'), url('../fonts/friz-quadrata-webfont.svg?1457815006') format('svg');
}
@font-face {
  font-family: "Scurlock";
  src: url('../fonts/scurlock-webfont.eot?1457815006');
  src: url('../fonts/scurlock-webfont.eot?&1457815006#iefix') format('embedded-opentype'), url('../fonts/scurlock-webfont.woff?1457815006') format('woff'), url('../fonts/scurlock-webfont.woff2?1457815006') format('woff2'), url('../fonts/scurlock-webfont.ttf?1457815006') format('truetype'), url('../fonts/scurlock-webfont.svg?1457815006') format('svg');
}
